%h2 Resend confirmation instructions
= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    %br/
    - email = (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
    = f.email_field :email, autofocus: true, autocomplete: "email", value: email
  .actions
    = f.submit "Resend confirmation instructions"
= render "devise/shared/links"
