= form_with model: track, class: 'form' do |f|
  %main.form__fields
    .form__field
      = f.label :name
      = f.text_field :name, required: true
    - if f.object.new_record?
      .form__field
        = f.label :audio
        = f.file_field :audio, required: true, direct_upload: true
    .form__field
      = f.label :description
      = f.text_area :description
  %footer.form__controls
    - disable = { disable_with: 'Please wait...' }
    = f.submit t(:submit, scope: [controller_name, action_name]), data: disable
