= player_for track do
  %main
    .player__transport
      .player__button
        = track_player_button track.audio
      .player__duration
        .player__elapsed{ data: { target: 'player.elapsed' } } 00:00
        .player__left= track.duration
    .player__waveform
      -# TODO: = image_tag track.waveform.url
  %footer
    %nav.player__links
      = link_to user_track_url(track.user, track, anchor: 'comments'), class: 'player__link' do
        = t('.comments', count: track.comments_count)
      - if track.user == current_user
        %span.player__link= t('.likes', count: track.likers_count)
      - else
        = like_button(track) do
          = t('.likes', count: track.likers_count)
      %span.player__link= t('.listens', count: track.listens_count)
