= player_for track do
  %main
    .player__transport
      .player__button
        = track_player_button track.audio
      .player__duration
        .player__elapsed{ data: { target: 'elapsed' } } 00:00
        .player__left= track.duration
    .player__waveform
      -# TODO: = image_tag track.waveform.url
  %footer
    %nav.player__links
      = link_to user_track_url(track.user, track, anchor: 'comments') do
        = t('.comments', count: track.comments_count)
      - if track.user == current_user
        = link_to user_track_url(track.user, track) do
          = t('.likes', count: track.likes_count)
      - else
        = like_button(track) do
          = t('.likes', count: track.likes_count)
