= player_for track do
  %main.player__interface
    .player__transport
      .player__button
        = track_player_button track
      .player__duration
        .player__elapsed{ data: { target: 'player.elapsed' } } 00:00
        - unless track.duration.blank?
          .player__left
            = track.formatted_duration
    .player__waveform
      = image_tag track.waveform if track.waveform.attached?
      %span.player__notch{ data: { target: 'player.notch' } }
  %footer.player__bar
    %nav.player__links
      = link_to track_comments_url(track), class: 'player__link' do
        = t('.comments', count: track.comments_count)
      = like_button_for track do
        = t('.likes', count: track.likers_count)
      = player_link do
        %span.player__listens{ data: { target: 'player.listens' } }
          = t('.listens', count: track.listens_count)
