= devise_form_for(resource, :registration, html: { method: :put }) do |f|
  %header.form__header
    %section.form__title
      %h1= page_title
    %section.form__errors
      = devise_error_messages!
  %main.form__fields
    .form__field
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        - unconfirmed_email = resource.unconfirmed_email
        .form__hint Currently waiting confirmation for: #{unconfirmed_email}
    .form__field
      = f.label :password
      %em.form__hint (leave blank if you don't want to change it)
      = f.password_field :password, autocomplete: "new-password"
      %em.form__hint #{@minimum_password_length} characters minimum
    .form__field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .form__field
      = f.label :display_name
      = f.text_field :display_name
    .form__field
      = f.label :location
      = f.text_field :location
    .form__field
      = f.label :avatar
      = f.file_field :avatar, direct_upload: true
    .form__field
      = f.label :current_password
      %em.form__hint (we need your current password to confirm your changes)
      = f.password_field :current_password, autocomplete: "current-password"
  %footer.form__actions
    = f.submit t('.submit'), data: { disable_with: 'Please wait...' }

.cancel
  %h3.cancel__title= t('.cancel.title') #Cancel my account
  %p.cancel__message
    = t('.unhappy')
    = button_to registration_path(resource_name), method: :delete do
      = t('.cancel.label')
  %p.cancel__back-link
    = link_to "Back", :back
