.comment
  %header.comment__metadata
    = link_to comment.user.name, comment.user, class: 'comment__user'
    = link_to comment_path(comment), class: 'comment__date' do
      = comment_date(comment)
  %main.comment__content
    %p
      - avatar = comment.user.avatar.variant(resize: 50)
      = image_tag avatar, class: 'comment__avatar'
      = comment.content
  %footer.comment__links
    %nav.navigation
      - edit_comment = [:edit, comment.track.user, comment.track, comment]
      = link_to edit_comment, class: 'navigation__link' do
        = t('.edit')
      - delete_comment = [comment.track.user, comment.track, comment]
      = link_to delete_comment, method: :delete, class: 'navigation__link' do
        = t('.delete')
