.comment
  %header.comment__metadata
    %strong.comment__user= comment.user.name
    commented on
    = link_to comment.created_at.to_s(:long), [comment.track.user, comment.track, comment]
  %main.comment__content
    = comment.content
  %footer.comment__links
    = link_to 'Edit', [:edit, comment.track.user, comment.track, comment]
    = link_to 'Delete', [comment.track.user, comment.track, comment], method: :delete
