.comment
  %header.comment__metadata
    %strong.comment__user= comment.user.name
    commented on
    = link_to [comment.track.user, comment.track, comment] do
      = comment.created_at.to_s(:long)
  %main.comment__content
    = comment.content
  %footer.comment__links
    = link_to [:edit, comment.track.user, comment.track, comment] do
      = t('.edit')
    = link_to [comment.track.user, comment.track, comment], method: :delete do
      = t('.delete')
