.comment
  %header.comment__metadata
    = link_to comment.user.name, comment.user, class: 'comment__user'
    = link_to comment_path(comment), class: 'comment__date' do
      = comment_date(comment)
  %main.comment__content
    %p
      = image_tag comment.user.avatar.variant(resize: 50), class: 'comment__avatar'
      = comment.content
  %footer.comment__links
    %nav.navigation
    = link_to [:edit, comment.track.user, comment.track, comment], class: 'navigation__link' do
      = t('.edit')
    = link_to [comment.track.user, comment.track, comment], method: :delete, class: 'navigation__link' do
      = t('.delete')
