%table.table.users
  %thead.table__header
    %tr.table__title
      %td{ colspan: User::FIELDS.size }
        %h1= page_title
    %tr.table__search
      %td{ colspan: User::FIELDS.size }
        = form_with url: url_for, method: :get do |f|
          = f.search_field :q, placeholder: 'Search Users...'
    %tr.table__fields
      - User::FIELDS.each do |column|
        %th
          = User.human_attribute_name(column)
      %th
        = link_to t('.new'), new_user_path
  %tbody.table__results
    - @users.each do |user|
      %tr.users__row{ id: "user-#{id}" }
        %td.users__name
          = user.name
        %td.users__display-name
          = user.display_name
        %td.users__email
          = user.email
        %td.users__controls
          %nav.navigation
            = link_to [:edit, user], class: 'navigation__link' do
              = t('.edit')
            = link_to user, method: :delete, class: 'navigation__link' do
              = t('.delete')
