%article.profile
  %header.profile__cover
    %section.profile__name
      %h1= @user.display_name
    %section.profile__metadata
      %dl.profile__fields
        .profile__field
          %dt
            #{t('.location')}:
          %dd
            = @user.location
        .profile__field
          %dt
            #{t('.biography')}:
          %dd
            = @user.biography
      %dl.profile__numbers
        .profile__number
          %dd= @user.followers_count
          %dt= t('.followers')
        .profile__number
          %dd= @user.following_count
          %dt= t('.following')
        .profile__number
          %dd= @user.tracks_count
          %dt= t('.tracks')
    %section.profile__buttons{ data: { controller: 'follow' } }
      = follow_button @user unless current_user_browsing?(@user)
  %main.profile__tracks
    - if @user.tracks.any?
      = render @user.tracks
    - else
      %p.profile__empty
        = t('.empty')
        = link_to t('.upload'), new_track_path
