%article.profile
  %header.profile__cover
    %section.profile__title
      - if @user.avatar.attached?
        = image_tag @user.avatar.variant(resize: '150x150'), class: 'profile__avatar'
      %h1.profile__name
        = @user.display_name
    %section.profile__metadata
      %dl.profile__fields
        .profile__field
          %dt
            #{t('.location')}:
          %dd
            = @user.location
        .profile__field
          %dt
            #{t('.biography')}:
          %dd
            = @user.biography
      %dl.profile__numbers
        .profile__number
          %dd= @user.followers_count
          %dt= t('.followers')
        .profile__number
          %dd= @user.following_count
          %dt= t('.following')
        .profile__number
          %dd= @user.tracks_count
          %dt= t('.tracks')
    %section.profile__buttons{ data: { controller: 'follow' } }
      = follow_button @user unless current_user_browsing?(@user)
  %main.profile__tracks
    - if @user.tracks.any?
      = render @user.tracks.with_attached_waveform.with_attached_audio
    - else
      %p.profile__empty= t('.empty')
  %footer.profile__controls
    = link_to t('.upload'), new_track_path
