%article.profile
  %header.profile__cover
    %section.profile__name
      %h1= @user.display_name
    %section.profile__metadata
      %dl
        .profile__field
          %dt Location:
          %dd= @user.location
        .profile__field
          %dt Followers:
          %dd= @user.following_users_count
        .profile__field
          %dt Tracks:
          %dd= @user.tracks.count
    %section.profile__buttons{ data: { controller: 'follow' } }
      = follow_button @user
  %main.profile__tracks
    = render @user.tracks
