%article.profile
  %header.profile__cover
    %section.profile__name
      %h1= @user.display_name
    %section.profile__metadata
      %dl
        .profile__field
          %dt #{t('.location')}:
          %dd= @user.location
        .profile__field
          %dt #{t('.followers')}:
          %dd= @user.followers(User).count
        .profile__field
          %dt #{t('.following')}:
          %dd= @user.followees(User).count
        .profile__field
          %dt #{t('.tracks')}:
          %dd= @user.tracks_count
    %section.profile__buttons{ data: { controller: 'follow' } }
      = follow_button @user unless current_user_browsing?(@user)
  %main.profile__tracks
    = render @user.tracks
