%h1= page_title unless request.xhr?
= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form') do |f|
  %main.form__fields
    .form__field
      = f.label :name
      = f.text_field :name, autofocus: true, autocomplete: 'name'
    .form__field
      = f.label :password
      = f.password_field :password, autocomplete: 'current-password'
    .form__checkbox-field
      = f.check_box :remember_me
      = f.label :remember_me
  %footer.form__actions
    = f.submit 'Log in', class: 'button'
    = render 'devise/shared/links'
