.activity
  %header.activity__event
    %span.activity__subject
      = activity.subject
    %span.activity__object
      = link_to activity.url do
        = activity.action
        = activity.object
  - if activity.exist?
    %main.activity__content
      = render activity.item
