%head
  %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
  = title_tag
  = csrf_meta_tags
  = csp_meta_tag
  = turbolinks_stylesheet_tag 'application', media: 'all'
  = turblinks_javascript_tag 'application'
  = stylesheet_link_tag google_fonts_url
  = yield :head
