!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    = title_tag
    = csrf_meta_tags
    = csp_meta_tag
    = turbolinks_stylesheet_tag 'application', media: 'all'
    = turblinks_javascript_tag 'application'
  %body
    - if Rails.env.development?
      %section.developer-toolbar
        = query_diet_widget
    %header.header
      .header__logo
        = link_to app_title, root_path
      .header__search
        = search_form do |f|
          = f.search_field :q, search_field_options
      .header__navigation
        %nav.navigation
          - if user_signed_in?
            = nav_link_to current_user do
              = image_tag current_user.avatar if current_user.avatar.attached?
              = t('.nav.profile', name: current_user.name)
            = nav_link_to :timeline, root_path
            = nav_link_to :library, likes_path
            = nav_link_to :settings, edit_user_registration_path
            = nav_link_to :logout, destroy_user_session_path
          - else
            = nav_link_to :login, new_user_session_path
            = nav_link_to :signup, new_user_registration_path
    %main.page
      %section.page__flash.flash-messages
        - flash.each do |type, message|
          = render 'flash_message', type: type, message: message
      %section.page__content
        = yield
