!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type" }/
    = title_tag
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .header__logo
        = link_to app_title, root_path
      .header__search
        = form_with url: search_path, method: :get do |f|
          = f.search_field :q, placeholder: 'Search...', autocomplete: 'off'
      .header__navigation
        %nav
          - if user_signed_in?
            = link_to t('.nav.timeline'), root_path
            = link_to t('.nav.library'), saves_path
            = link_to t('.nav.profile', name: current_user.name), current_user
            = link_to t('.nav.settings'), edit_user_registration_path
            = link_to t('.nav.logout', name: current_user.name), destroy_user_session_path
          - else
            = link_to t('.nav.login'), new_user_session_path
            = link_to t('.nav.signup'), new_user_registration_path
    = yield
