!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    = title_tag
    = csrf_meta_tags
    = csp_meta_tag
    = turbolinks_stylesheet_tag 'application', media: 'all'
    = turblinks_javascript_tag 'application'
    = stylesheet_link_tag google_fonts_url
  %body
    %header.header
      .header__logo
        = link_to app_title, root_path
      .header__search
        = search_form(search_path) do |f|
          = f.search_field :q, search_field_options
      .header__navigation
        %nav.navigation
          - if user_signed_in?
            = nav_link_to current_user do
              .profile-link
                - if current_user.avatar.attached?
                  = image_tag current_user.avatar.variant(resize: '25x25')
                = t('.nav.profile', name: current_user.name)
            = nav_link_to :timeline, root_path
            = nav_link_to :library, likes_path
            = nav_link_to :settings, edit_user_registration_path
            = nav_link_to :logout, destroy_user_session_path, method: :delete
          - else
            = nav_link_to :login, new_user_session_path
            = nav_link_to :signup, new_user_registration_path
    %main.page
      %section.page__flash.flash-messages{ data: { controller: 'flash' } }
        - flash.each do |type, message|
          - unless type.to_sym == :timedout
            = render 'flash_message', type: type, message: message
      %section.page__content
        = yield
    %footer.footer
      %nav.navigation.footer__navigation
        %span.navigation__item.footer__version
          #{Soundstorm.to_s} v#{Soundstorm::VERSION}
        = link_to Soundstorm::BLOG_URL, class: 'navigation__link' do
          = t('.footer.blog')
        = link_to Soundstorm::SOURCE_URL, class: 'navigation__link' do
          = t('.footer.source')
        = link_to Soundstorm::DOCS_URL, class: 'navigation__link' do
          = t('.footer.documentation')
